body{
	background-color:#222222;
}

h1 {
	font-size:80px;
	font-family: helvetica;
	text-align: center;
}
p {
	color:white;
	font-size:18px;
	font-family: helvetica;
}
.alert{
	color:red;
	font-weight:bold;
}
.center{
	text-align: center
}
.wrapper{
	color:#222222;
	background-color:white;
}