body{
	background-color:#222222;
}

footer{
	background-color: white;
}

h1 {
	font-size:80px;
	font-family: helvetica;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}
h2 {
	font-size:18px;
	font-family: helvetica;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}
p {
	margin-left: 100px;
	margin-right: 100px;
	color:white;
	font-size:18px;
	font-family: helvetica;
}

.alert{
	color:red;
	font-weight:bold;
}
.center{
	text-align: center
}
.wrapper{
	color:#222222;
	background-color:white;
}
img:hover{
	transition: transform 10s;
	transform: scale(10);

}